
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.row{
    display: flex;
    padding-top: 100px;
}
.elements{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.item{
    width: 50%;
    padding: 10px;
}
.info{
    padding: 10px 10px;
    width: 50%;
}
p, form{
    padding: 25px 0;
}
h1{
    font-size: 35px;
}
input{
    color: red;
    border:solid 3px red;
    padding: 10px 50px;
    background-color: white;
    font-size: 20px;
}